* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    width: 1440px;
    background-color: #cccccc;
    margin: 0 auto;
    
}

.container {
    width: 100%;
    height: 80px;
}

    .container .header {
        width: 100%;
        margin: 0px auto;
        height: 80px;
        background-color: #4eb98a;
    }

        .container .header .logo {
            width: 100%;
            float: left;
        }

            .container .header .logo a {
                /*text-align: center;*/
                padding-left: 24px;
                text-decoration: none;
                font-size: 32px;
                font-weight: 700;
                text-shadow: 0 1px 4px rgba(0,0,0,.2);
            
                color: #000000;
                display: block;
                line-height: 80px;
            }

    .container .main {
        width: 100%;
        margin: 0px auto;
        display:inline-block;

                /*border: 1px solid#999;*/
        /*border-radius: 05px;*/
        min-height: 700px;
    }

        .container .main .main-left {
            width: 25%;
            float: left;
            background: gray;
            border: 2px solid#999;
            border-radius: 05px;
            min-height: 870px;
            /*box-shadow: 3px 3px 5px 6px #ccc;*/
        }


            .container .main .main-left ul.menu-bo {
                list-style: none;
                margin: 0px;
                padding: 0px;
            }

                .container .main .main-left ul.menu-bo li {
                    width: 100%;
                    height: 50px;
                    border-bottom: 1px groove;
                    border-color: aliceblue;
                    /*text-align: center;*/
                    padding-left:24px;
                    margin-bottom: 5px;
                    margin-top: 5px;
                }

                    .container .main .main-left ul.menu-bo li:first-child {
                        margin-bottom: 0px;
                    }

                    .container .main .main-left ul.menu-bo li a {
                        text-decoration: none;
                        line-height: 50px;
                        font-size: 20px;
                        color: #FFF;
                    }

                    .container .main .main-left ul.menu-bo li ul {
                        margin: 0px;
                        padding: 0px;
                        position: absolute;
                        background: gray;
                        list-style: none;
                        display: none;
                    }

                    .container .main .main-left ul.menu-bo li:hover ul {
                        border: 5px solid#999;
                        border-radius: 05px;
                        display: block;
                    }

                    .container .main .main-left ul.menu-bo li:hover a {
                        color: red;
                    }

                    .container .main .main-left ul.menu-bo li ul li:hover a {
                        color: yellow;
                    }

        .container .main .main-right {
            width: 75%;
            float: left;
            /*padding:10px 20px;*/
            background: white;
            min-height: 870px;
            /*margin-left: 10px;*/
            /*border: 2px solid#999;
            border-radius: 05px;*/
        }

    .container .footer {
        width: 100%;
        margin: 0px auto;
        background: black;
        color: #FFF;
        height: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 16px;
        font-weight: 200;
    }
    th,td{
        padding:5px;
    }

btnThem {
    background-color: #4eb98a;
}
@media screen and (max-width: 768px) {
   .container .main .main-left .menu-bo {
        position: fixed;
        z-index: 1111;
        width: 100%;
        height: 100%;
        top: 0;
        right: -100%;
        font-size: 16px;
        background-color: #333;
        text-align: center;
        display: block;
        padding: 80px 0;
        margin: 0;
        line-height: normal;
        transition: 0.4s;
    }
}